<ion-card class="calendar-container">
  <ion-card-header>
    <div class="calendar-header">
      <ion-button fill="clear" (click)="previousMonth()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      
      <div class="month-year">
        <h2>{{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</h2>
      </div>
      
      <ion-button fill="clear" (click)="nextMonth()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </div>
    
    <ion-button fill="outline" size="small" (click)="goToToday()">
      Today
    </ion-button>
  </ion-card-header>

  <ion-card-content>
    <!-- Day Headers -->
    <div class="calendar-grid">
      <div class="day-header" *ngFor="let day of dayNames">
        {{ day }}
      </div>
      
      <!-- Calendar Days -->
      <div 
        class="calendar-day" 
        *ngFor="let day of calendarDays"
        [class.other-month]="!day.isCurrentMonth"
        [class.today]="isToday(day.date)"
        [class.has-events]="day.events.length > 0">
        
        <div class="day-number">
          {{ day.date.getDate() }}
        </div>
        
        <div class="day-events" *ngIf="day.events.length > 0">
          <div 
            class="event-dot" 
            *ngFor="let event of day.events.slice(0, 3)"
            [style.background-color]="'var(--ion-color-' + getEventTypeColor(event.type) + ')'">
          </div>
          <div class="event-count" *ngIf="day.events.length > 3">
            +{{ day.events.length - 3 }}
          </div>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
