<div class="trigger-builder">
  <form [formGroup]="triggerForm">
    
    <!-- Condition Type Selector -->
    <div class="condition-selector">
      <h4>Trigger Condition</h4>
      <ion-segment formControlName="conditionType">
        <ion-segment-button 
          *ngFor="let type of conditionTypes" 
          [value]="type.value">
          <div class="segment-content">
            <ion-icon [name]="type.icon" [color]="type.color"></ion-icon>
            <ion-label>{{ type.label }}</ion-label>
          </div>
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <!-- Configuration for Absences in Period -->
    <div class="config-section" *ngIf="triggerForm.get('conditionType')?.value === 'absences_in_period'">
      <div class="config-row">
        <ion-label>Number of absences</ion-label>
        <div class="stepper">
          <ion-button 
            fill="outline" 
            size="small" 
            (click)="decrementCount()"
            [disabled]="triggerForm.get('count')?.value <= 1">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          
          <span class="value">
            {{ triggerForm.get('count')?.value }}
          </span>
          
          <ion-button 
            fill="outline" 
            size="small" 
            (click)="incrementCount()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </div>
      
      <div class="config-row">
        <ion-label>Time period</ion-label>
        <ion-select 
          formControlName="periodDays" 
          interface="popover">
          <ion-select-option 
            *ngFor="let window of timeWindows" 
            [value]="window.value">
            {{ window.label }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    
    <!-- Configuration for Consecutive Absences -->
    <div class="config-section" *ngIf="triggerForm.get('conditionType')?.value === 'consecutive_absences'">
      <div class="config-row">
        <ion-label>Consecutive absences</ion-label>
        <div class="stepper">
          <ion-button 
            fill="outline" 
            size="small" 
            (click)="decrementCount()"
            [disabled]="triggerForm.get('count')?.value <= 1">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          
          <span class="value">
            {{ triggerForm.get('count')?.value }}
          </span>
          
          <ion-button 
            fill="outline" 
            size="small" 
            (click)="incrementCount()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
    
    <!-- Configuration for No Attendance Days -->
    <div class="config-section" *ngIf="triggerForm.get('conditionType')?.value === 'no_attendance_days'">
      <div class="config-row">
        <ion-label>Days without attendance</ion-label>
        <ion-select 
          formControlName="periodDays" 
          interface="popover">
          <ion-select-option 
            *ngFor="let window of timeWindows" 
            [value]="window.value">
            {{ window.label }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    
    <!-- Configuration for Attendance Percentage -->
    <div class="config-section" *ngIf="triggerForm.get('conditionType')?.value === 'attendance_percentage'">
      <div class="config-row">
        <ion-label>Attendance below</ion-label>
        <div class="percentage-input">
          <input 
            type="number" 
            formControlName="percentage" 
            min="1" 
            max="100"
            class="percentage-field">
          <span>%</span>
        </div>
      </div>
      
      <div class="config-row">
        <ion-label>Time period</ion-label>
        <ion-select 
          formControlName="periodDays" 
          interface="popover">
          <ion-select-option 
            *ngFor="let window of timeWindows" 
            [value]="window.value">
            {{ window.label }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    
  </form>
</div>